<html>
    <body>
        <%= form_for Produto.create do |form| %>  
          
          <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <%= form.label :name %>
                        <%= form.text_field :name, class:"form-control" %>
                    </div>
                </div>
            </div>

          <div class="row">
              <div class="col-sm-8">
                  <div class="form-group">
                      <%= form.label :description : %>
                      <%= form.text_area :description, class:"form-control", rows:4 %>
                  </div>
               </div>
            </div>


          <div class="row">
              <div class="col-sm-2">
                  <div class="form-group">>
                    <%= form.label :value %>
                    <%= form.number_field :value, step:0.01, class:"form-control" %>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-2">
                  <div class="form-group">>
                    <%= form.label :release_date %>
                    <%= form.date_field :release_date,class:"form-control" %>
                  </div>
              </div>
          </div>

          <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <%= form.label :category %>
                        <%= form.text_field :category, class:"form-control" %>
                    </div>
                </div>
            </div>

          <%= form.submit "Criar",class:"btn btn-primary" %>

        <% end %>
    </body>
</html>