<!DOCTYPE html>
<html>
  
    <div class="container">
      <head>
        <title>GamesCity</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
      </head>

      <body>
<<<<<<< HEAD
      <%= nav_bar brand: "Games", brand_link: root_url do %>
        <%= menu_group do %> 
          <% menu_item "Create new game", games_new_path %>
        <% end %>
        <%= form_tag search_produto_path, method: :get, class:"navbar-form navbar-rigth" do %>
        <div class="form-group">
          <%= text_field_tag :name, @name, class:"form-control" %>
          <%= button_to "Search", nil, class:"btn btn-default" %>
        </div>
      <% end %>
      <% end %>
      <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
=======
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
>>>>>>> 576f7f995c927bbffc00c7d06de904a1a14c1dde
      </body>
    </div>
</html>
